<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gossip-Scraper Home</title>
</head>
<body>
    <!--{{{body}}}-->
    <div id="wrapper">
      <h1>Gossip Scraper</h1>
      <h2>Click on the articles to get the Tea!</h2>
	  <h3>*Tea---gossip</h3>
      <div id="headlines"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>


